.pizzaContainer {
    display: flex;
    margin: 0px 24px;
    overflow: hidden;

    .pizzaDescription {
        color: gray;
        font-size: 12px;
        width: 200px;
    }

    .ant-list-item {
        justify-content: space-around;
    }

    img {
        cursor: pointer;
    }

    .pizzaDetails {
        display: 'flex';
        flex-direction: 'column';
        margin-left: 24px;
        cursor: pointer;

    }
}